/*
.orangeEdge {
    text-align: center;
}
*/
  
.orangeEdge a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1em 2em;
    width: 70px;
    color: #eb6100;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #eb6100;
    text-decoration: none;
}
  
  
.orangeEdge a:hover {
    color: #333333;
    text-decoration: none;
    background-color: #ebbb9b;
}