html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: 100%;
}

h1,h2,P {
  max-width: 70ch;
  margin: auto;
  text-align: center;
}

/* スマホ用設定------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.2em;
  }
  h2 {
      font-size: 1.0em;
  }
}
/* ---------------------------------------------------------------------------- */
