.btn,
a.btn,
button.btn {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}
a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.example2{
  display: flex;
}
.example2 label{
  display: block;
  width: 150px;
  background: #eac3c3;
  color: #000;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
}
.example2 input:checked+label{
  background: #720d0d;
  color: #FFF;
}
.example2 input{
  display: none;
}
.page_change{
  display:flex;
}

.orangeEdge a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1em 2em;
  width: 70px;
  color: #eb6100;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #eb6100;
  text-decoration: none;
}


.orangeEdge a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #ebbb9b;
}
